<% content_for :title do %>Echidna 2.0 - Import Wizard<% end %>
<% content_for :init_js do -%>
<script src="javascripts/import_wizard.js"></script>
<% end -%> 

    <h1 class="alt">Import Data</h1>
    <!-- Wizard Step 1 of 3 -->
    <div id="step1_3">
      <h2 class="alt">Step 1 of 3</h2>
      <div id="form-content_1" class="wizard-form-box">
        <div class="wizard-form-header"><span class="wizard-form-caption">Import New Experiment</span></div>
        <div class="wizard-form-content">
          <div class="wizard-question"><span id="italic-label">What</span> type of data are you importing ?</div>

          <div id="add-new-global-term">
            <span id="italic-label">Don't see your term in the dropdowns?</span>
            <input id="create-global-term" type="submit" value="New Global Term Name...">
          </div>
	  <div id="global-terms">
            <div class="wizard-form-row">
              <span>
		<span class="wizard-form-label">Species:</span><span><select id="import_species"><option>some species name</option></select></span>
              </span>
	    </div>
            <div class="wizard-form-row">
              <span>
		<span class="wizard-form-label">Data Type:</span> <span><select id="import_datatype"><option>some datatype</option></select></span>
              </span>
	    </div>
            <div class="wizard-form-row">
              <span>
		<span class="wizard-form-label">Technology:</span> <span><select id="import_technology"><option>some technology</option></select></span>
              </span>	    
	    </div>
	  </div>
            <div class="wizard-form-row-indent">
              <!-- properties with key 'slide_type' -->
              <div class="wizard-form-row">
		<span>
		  <span class="wizard-form-label">Microarray Type:</span> <span><%= select("import", "slidetype", Property.find_all_by_key('slide type').collect {|p| [p.value, p.value]}) %></span>
		</span>
              </div>
              <div class="wizard-form-row">
		<span>
		  <span class="wizard-form-label">Microarray platform:</span> <span><%= select("import", "platform", Property.find_all_by_key('platform').collect {|p| [p.value, p.value]}) %></span>
		</span>
	      </div>
              <div class="wizard-form-row">
		<span hidden>
		  <span class="wizard-form-label">Microarray format:</span> <span><%= select("import", "slideformat", Property.find_all_by_key('slide format').collect {|p| [p.value, p.value]}) %></span>
		</span>
              </div>
	    </div>
	  <!--</div>-->
	  <div class="horiz-line"></div>
          <div class="wizard-question"><span id="italic-label">Where</span> is the data you are importing ?</div>
          <div class="wizard-form-row">
            <div class="sub-indent">
            <span>
              <span><input type="radio" name="input_type" id="sbeams" value="sbeams" checked></span>
              <span>SBEAMS Project Id: </span>
              <span><select id="sbeams_project_id"><option>some project id</option></select></span>

              <span>SBEAMS Timestamp: </span>
              <span><select id="sbeams_timestamp"><option>some timestamp folder</option></select></span>
            </span>
            </div>
            <div class="sub-indent">
            <span>
              <span><input type="radio" name="input_type" id="tiling" value="tiling"></span>
              <span>Tiling Array Project Id: </span>
              <span><select id="tiling_project_id" disabled="disabled"><option>some project id</option></select></span>
            </span>
            </div>
          </div>
          <div id="step1-errorbox" class="wizard-form-row errorbox" />
            Error occurred while loading SBEAMS information.
            <ul>
              <li>SBEAMS project or timestamp missing</li>
            </ul>
          </div>
          <div class="wizard-form-row" style="text-align: right; margin-right: 5pt; margin-bottom: 5pt"><input id="next_1_3" type="submit" value="Continue..."></div>
        </div>
      </div>
    </div>

    <!-- Step 1 Dialog -->
    <div id="new-global-dialog">
      <span>Global Term Name: </span><br /><span><input id="new-global-name" type="text"></span>
      <span id="dialog-right-label">Global Term Type: </span><br /><span id="dialog-right"><%= select("import", "vocab_type", {"Species" => "species", "Measurement" => "measurement", "Technology" => "technology"}) %></span><br />
      <span>Technology descriptors: </span><br /><span><input id="new-global-techD" type="text"></span>
      <span id="dialog-right-label">Technology: </span><br /><span id="dialog-right"><%= select("import", "tech_desc", {"Microarray" => "microarray", "another Technology" => "another Technology"}) %></span>
    </div>

    <!-- Wizard Step 2 of 3 -->
    <div id="step2_3">
      <h2 class="alt">Step 2 of 3</h2>
      <div id="form-content_2" class="wizard-form-box">
        <div class="wizard-form-header"><span class="wizard-form-caption">Group the conditions for the imported runs</span></div>
        <div class="wizard-form-content">
          <!-- left box -->
          <div id="condition-box" style="width: 40%; float: left;">
            <div style="margin-bottom: 5px;">List of conditions available:</div>
            <div id="condition-table" style="border: 1px solid black; border-radius: 5px;">
              <div style="background-color: #dddddd; padding: 5px;"><input type="checkbox" id="checkall"> Check All</div>
              <div style="overflow: auto; height: 240px;">
                <table id="condition-list">
                  <tbody>
                    <tr><td class="cond"><input type="checkbox">KO_ura3_0.55_vs_NRC_R.sig<br>
                           Groups: groupName1, groupName2
                        </td>
		    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!-- middle box -->
          <div id="assign-box" style="width: 60px; float: left;">
            <div style="50px; height: 60px;">&nbsp;</div>
            <div style="text-align: center;"><a href="#" id="add-selected-conditions"><img src="images/arrow_right.png" style="width: 50px;"></a></div>
          </div>

          <!-- right box -->
          <div id="group-box" style="width: auto; float: left;">
            <div style="margin-bottom: 5px;">Subset of conditions:</div>
            <div style="border: 1px solid black; overflow: auto; height: 150px;">
              <table id="selected-conditions">
                <tbody>
                </tbody>
              </table>
            </div>
            <div>
              <div>Group the selected conditions under</div>
              <span><select id="all-condition-groups"><option>some group name</option></select></span>
              <span style="margin-top: 10px;"><input id="apply-grouping" type="submit" value="Apply Grouping"></span>
            </div>

            <div id="apply-grouping-box">
              Select to create a new group
                OR <input id="create-group" type="submit" value="New Group Name...">
            </div>

          </div>
          <div style="clear: both;"></div>
          <div class="wizard-form-row" style="text-align: right; margin-right: 5pt; margin-bottom: 5pt">
	    <input id="prev_2_3" type="submit" value="Back">
	    <input id="next_2_3" type="submit" value="Continue...">
	  </div>
        </div>
      </div>
    </div>
    <!-- Step 2 Dialog -->
    <div id="new-group-dialog">
      <span>Group Name: </span><span><input id="new-group-name" type="text"></span><br />
      <span>Group Description: </span><br /><span><textarea id="new-group-descr" rows="5" cols="20"></textarea></span>
    </div>

    <!-- Wizard Step 3 of 3 -->
    <div id="step3_3">
      <h2 class="alt">Step 3 of 3</h2>
      <div id="form-content_3" class="wizard-form-box">
        <div class="wizard-form-header"><span class="wizard-form-caption">Assign the metadata for the imported conditions</span></div>
        <div class="wizard-form-content">
          <table id="metadata-table" style="border: 1px solid black; margin-bottom: 1px;">
            <tbody>
              <tr>
                <th>&nbsp;</th>
                <th>Metadata</th>
                <th>Type</th>
                <th>KO_ura3_0.55_vs_NRC_R.sig</th>
                <th>KO_ura3_0.75_vs_NRC_R.sig</th>
              </tr>
              <tr>
                <td>
                  <a href="#3" title="Edit"><img src="images/edit_icon.png" alt="Edit"></a>
                  <img src="images/save_icon_disabled.png">
                </td>
                <td>Illumination</td>
                <td>observation</td>
                <td>30</td>
                <td>30</td>
              </tr>
              <tr>
                <td>
                  <img src="images/edit_icon_disabled.png">
                  <a href="#3" title="Save"><img src="images/save_icon.png" alt="Save"></a>
                </td>
                <td><select><option>Knockout</option></select></td>
                <td>
                  <input type="radio" name="md_type">observation</input><br>
                  <input type="radio" name="md_type">perturbation</input>
                </td>
                <td><input type="text" value="Dura"></td>
                <td><input type="text" value="Dura"></td>
              </tr>
            </tbody>
          </table>
          <div class="wizard-form-row" style="text-align: left; margin-left: 1pt; margin-top: 2pt; margin-bottom: 5pt">
            <span><input type="submit" value="+ Add row" id="add-metadata-row"></span>
          </div>
          <div class="wizard-form-row" style="text-align: left; margin-left: 1pt; margin-top: 2pt; margin-bottom: 5pt">
            <span><input type="submit" value="+ Add New Metadata Term" id="add-metadata-term"></span>
          </div>
          <div class="wizard-form-row" style="text-align: right; margin-right: 5pt; margin-bottom: 5pt">
            <input type="submit" value="Back" id="prev_3_3">
            <input id="submit-data" type="submit" value="Save Medadata">
          </div>
        </div>       
      </div>
    </div>

    <!-- Step 3 Dialog -->
    <div id="new-metadata-dialog">
      <span>Metadata Name: </span><br /><span><input id="new-metadata-name" type="text"></span>
      <span id="dialog-right-label">Metadata Type: </span><br /><span id="dialog-right"><%= select("import", "meta_type", {"Environmental" => "environmental", "Clinical" => "clinical", "Genetic" => "genetic"}) %></span>
    </div>

    <div id="import_success_report">
      <h2>Import Success</h2>
      <p>Your data was successfully imported. You can search for it <a href="/">here</a>.</p>
    </div>

    <div id="import_error_report">
      <h2>Import Error</h2>
      <p>Data could not be imported. Server might be down. Please retry <a href="import_wizard">later</a></p>
    </div>
