<% content_for :title do %>Echidna 2.0 - Import Wizard<% end %>
<% content_for :init_js do -%>
<script src="javascripts/import_wizard.js"></script>
<% end -%> 

    <h1 class="alt">Import Data</h1>
    <!-- Wizard Step 1 of 3 -->
    <div id="step1_3">
      <h2 class="alt">Step 1 of 3</h2>
      <div id="form-content_1" class="wizard-form-box">
        <div class="wizard-form-header"><span class="wizard-form-caption">Import New Experiment</span></div>
        <div class="wizard-form-content">
          <div class="wizard-question">What type of data are you importing ?</div>
          <div class="wizard-form-row">
            <span>
              <span>1) Species:</span> <span><%= select("import", "species", Species.all.collect {|s| [s.name, s.id] }) %></span>
            </span>
            <span>
              <span>2) Data Type:</span> <span><%= select("import", "datatype", Measurement.all.collect {|m| [m.name, m.id]}) %></span>
            </span>
            <!-- properties with key 'slide_type' -->
            <span>
              <span>3) Microarray Type:</span> <span><%= select("import", "slidetype", Property.find_all_by_key('slide type').collect {|p| [p.value, p.id]}) %></span>
            </span>
          </div>
          <div class="wizard-form-row">
            <span>
              <span>4) Microarray platform:</span> <span><%= select("import", "platform", Property.find_all_by_key('platform').collect {|p| [p.value, p.id]}) %></span>
            </span>
            <span>
              <span>5) Microarray format:</span> <span><%= select("import", "slideformat", Property.find_all_by_key('slide format').collect {|p| [p.value, p.id]}) %></span>
            </span>
          </div>
          <div class="wizard-question">Where is the data you are importing ?</div>
          <div class="wizard-form-row">
            <div>
            <span>
              <span><input type="radio" name="input_type" value="sbeams" checked></span>
              <span>SBEAMS Project Id: </span><span><input type="text" id="sbeams_project_id" name="sbeams_project_id"></span>
              <span>SBEAMS Timestamp: </span><span><input type="text" id="sbeams_timestamp" name="sbeams_timestamp"></span>
            </span>
            </div>
            <div>
            <span>
              <span><input type="radio" name="input_type" value="tiling" disabled="disabled"></span>
              <span class="disabled">Tiling Array (tmp. location): </span>
              <span><input type="text" style="width: 200px" disabled="disabled"></span>
            </span>
            </div>
          </div>
          <div id="step1-errorbox" class="wizard-form-row errorbox" />
            Error occurred while loading SBEAMS information.
            <ul>
              <li>SBEAMS project or timestamp missing</li>
            </ul>
          </div>
          <div class="wizard-form-row" style="text-align: right; margin-right: 5pt; margin-bottom: 5pt"><input id="next_1_3" type="submit" value="Continue..."></div>
        </div>
      </div>
    </div>

    <!-- Wizard Step 2 of 3 -->
    <div id="step2_3">
      <h2 class="alt">Step 2 of 3</h2>
      <div id="form-content_2" class="wizard-form-box">
        <div class="wizard-form-header"><span class="wizard-form-caption">Group the conditions for the imported runs</span></div>
        <div class="wizard-form-content">
          <!-- left box -->
          <div id="condition-box" style="width: 40%; float: left;">
            <div style="margin-bottom: 5px;">List of conditions available:</div>
            <div id="condition-table" style="border: 1px solid black; border-radius: 5px;">
              <div style="background-color: #dddddd; padding: 5px;"><input type="checkbox" id="checkall"> Check All</div>
              <div style="overflow: auto; height: 240px;">
                <table id="condition-list">
                  <tbody>
                    <tr><td class="cond"><input type="checkbox">KO_ura3_0.55_vs_NRC_R.sig<br>
                        Groups: groupName1, groupName2
                    </td></tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!-- middle box -->
          <div id="assign-box" style="width: 60px; float: left;">
            <div style="50px; height: 60px;">&nbsp;</div>
            <div style="text-align: center;"><a href="#" id="add-selected-conditions"><img src="images/arrow_right.png" style="width: 50px;"></a></div>
          </div>

          <!-- right box -->
          <div id="group-box" style="width: auto; float: left;">
            <div style="margin-bottom: 5px;">Subset of conditions:</div>
            <div style="border: 1px solid black; overflow: auto; height: 150px;">
              <table id="selected-conditions">
                <tbody>
                </tbody>
              </table>
            </div>
            <div>
              <div>Group the selected conditions under</div>
              <span><select id="all-condition-groups"><option>some group name</option></select></span>
              <span style="margin-top: 10px;"><input id="apply-grouping" type="submit" value="Apply Grouping"></span>
            </div>

            <div id="apply-grouping-box">
              Select to create a new group
                OR <input id="create-group" type="submit" value="New Group Name...">
            </div>

          </div>
          <div style="clear: both;"></div>
          <div class="wizard-form-row" style="text-align: right; margin-right: 5pt; margin-bottom: 5pt">
<input id="prev_2_3" type="submit" value="Back">
<input id="next_2_3" type="submit" value="Continue...">
</div>
        </div>
      </div>
    </div>
    <!-- Dialogs -->
    <div id="new-group-dialog">
      <span>Group Name: </span><span><input id="new-group-name" type="text"></span>
    </div>

    <!-- Wizard Step 3 of 3 -->
    <div id="step3_3">
      <h2 class="alt">Step 3 of 3</h2>
      <div id="form-content_3" class="wizard-form-box">
        <div class="wizard-form-header"><span class="wizard-form-caption">Assign the metadata for the imported conditions</span></div>
        <div class="wizard-form-content">

          <table id="metadata-table" style="border: 1px solid black; margin-bottom: 1px;">
            <tbody>
              <tr>
                <th>&nbsp;</th>
                <th>Metadata</th>
                <th>Type</th>
                <th>KO_ura3_0.55_vs_NRC_R.sig</th>
                <th>KO_ura3_0.75_vs_NRC_R.sig</th>
              </tr>
              <tr>
                <td>
                  <a href="#3" title="Edit"><img src="images/edit_icon.png" alt="Edit"></a>
                  <img src="images/save_icon_disabled.png">
                </td>
                <td>Illumination</td>
                <td>observation</td>
                <td>30</td>
                <td>30</td>
              </tr>
              <tr>
                <td>
                  <img src="images/edit_icon_disabled.png">
                  <a href="#3" title="Save"><img src="images/save_icon.png" alt="Save"></a>
                </td>
                <td><select><option>Knockout</option></select></td>
                <td>
                  <input type="radio" name="md_type">observation</input><br>
                  <input type="radio" name="md_type">perturbation</input>
                </td>
                <td><input type="text" value="Dura"></td>
                <td><input type="text" value="Dura"></td>
              </tr>
            </tbody>
          </table>
          <div class="wizard-form-row" style="text-align: left; margin-left: 1pt; margin-top: 2pt; margin-bottom: 5pt">
            <span><input type="submit" value="+ Add row" id="add-metadata-row"></span>
          </div>
          <div class="wizard-form-row" style="text-align: right; margin-right: 5pt; margin-bottom: 5pt">
            <input type="submit" value="Back" id="prev_3_3">
            <input id="submit-data" type="submit" value="Save Medadata">
          </div>
        </div>       
      </div>
    </div>

    <div id="import_success_report">
      <h2>Import Success</h2>
      <p>Your data was successfully imported. You can search for it <a href="/">here</a>.</p>
    </div>

    <div id="import_error_report">
      <h2>Import Error</h2>
      <p>Data could not be imported. Server might be down. Please retry <a href="import_wizard">later</a></p>
    </div>
