<script type="text/javascript">
  $(document).ready(function() {

      $('#pebble').click(function() {
          $('#myform')[0].submit();
      });

  });
</script>
<% sidebar_items << capture do %>
  <p><%= link_back_to_catalog %></p>
<% end %>
<h1>Folder</h1>
<% unless @documents.empty? %>
  <%- # just adding pageEntriedInfo div to get the proper rounded corners at the top -%>
  <div class="pageEntriesInfo">
    <%= page_entries_info @response.docs, :entry_name=>'item' %>
    <%=link_to "Start&nbsp;over&thinsp;", catalog_index_path, :id=>"startOverLink" %>    
  </div>
  <%= render "catalog/sort_and_per_page" %>
  <%= render "catalog/results_pagination" %>
  <div class="tools">
    <h2 id="export-title">Export options</h2>
    <ul class="folderTools">
      <li class="dmv">
	<a href="#" id="pebble">DMV</a> 
	<form id="myform" action="http://edgar.systemsbiology.net:8081/pebble/dmv" method="post">
	  <input name="query" type="hidden" value='<%= dmv_export @documents %>'></input>
	</form>
      </li>
      <li class="cite">
        <%= link_to "Cite", citation_catalog_path(:id => @documents.collect{|doc| doc.get(:id)}), {:id => 'citeLink', :name => 'citation', :class => 'lightboxLink'} %>
      </li>
      <% if current_user %>  
        <li>
          <%= render :partial=>'catalog/bookmark_form', :locals=>{:documents=>@documents} %>
        </li>  
      <% end %>
      <li>
        <%= link_to "Clear Folder", clear_folder_path, :method => :delete %>
      </li>
    </ul>
  </div>

<% end %>

<table id="kmf_documents">  
  <% @documents.each_with_index do |document, i| %>

    <% # container for a single doc -%>
    <tr><td valign="top" class="kmf_document">
	<div class="doc-box">

	    <% # header bar for doc items in index view -%>
	    <div class="documentHeader yui-g">
              <div class="yui-u documentFunctions">          
		<!-- <div class="in_folder"> -->
		<%= render :partial=>'catalog/folder_control', :locals=>{:document=>document} %>
		<!--</div> -->
              </div>
	      <span id="showhide_doc_<%= i%>" class="showhide">
		<div class="yui-u">
		  <h3 class="index_title"><%= i + 1 + @response.params[:start].to_i%>. <%= link_to_document document, :label => document_show_link_field, :results_view => false %></h3>
		</div>
	      </span>      
	    </div>      

	  <div id="doc_<%= i%>">
	    <%= render_document_partial document, :index %>
	    <% if document.respond_to?(:export_as_openurl_ctx_kev) %>
            <!-- 
		 // COinS, for Zotero among others. 
		 // This document_partial_name(@document) business is not quite right,
		 // but has been there for a while. 
              -->
            <span class="Z3988" title="<%= document.export_as_openurl_ctx_kev(document_partial_name(document)) %>"></span>
	    <% end %>
	  </div>
	</div>
    </td></tr>
    
  <% end %>
</table>
