<!doctype html>
<html>
  <head>
    <title><%=h yield :title %></title>
    <%= stylesheet_link_tag "/plugin_assets/blacklight/stylesheets/application", :media => "screen" %>
    <%= stylesheet_link_tag "blueprint/screen", :media => "screen, projection" %>
    <%= stylesheet_link_tag "blueprint/print", :media => "print" %>
    <%= stylesheet_link_tag "blueprint/plugins/fancy-type/screen", :media => "screen, projection" %>
    <%= stylesheet_link_tag "echidna" %>
    <%= javascript_include_tag "jquery-1.4.3.min" %>
    <%= yield :init_js %>
  </head>
  <body>
    <h1 class="site_title" style="margin: 0px"><%= link_to application_name, root_path %><%= (params[:controller] == "catalog" and !params[:id]) ? "<span id='results_text'>Search Results</span>" : "" %></h1>
    <div style="height: 1em;">&nbsp;</div>
    <%= yield %>
  </body>
</html>
